.benefits {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
}

.benefits-icon-conteiner {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-icon-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloude-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
}

.benefits-list {
  display: grid;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.benefits-list-title {
  color: var(--navy-blue-color);
  font-size: var(--h3-font-size);
  font-weight: var(--medium-font-weight);
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .benefits-list-title {
    text-align: center;
  }
}

@media screen and (max-width: 1157px) {
  .benefits-list-title {
    color: var(--navy-blue-color);
    font-size: var(--h2-font-size);
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }
}
