@media screen and (max-width: 1157px) {
  .what-doing {
    display: none;
  }
}

.what-doing {
  padding-bottom: 120px;
}

.what-doing-list {
  display: flex;
  gap: 24px;
}

.what-doing-list-item {
  flex-basis: calc((100% - 2 * 24) / 3);
}
