h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: var(--main-font-size);
  font-weight: var(--medium-font-weight);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

body {
  font-family: var(--primary-font);
  font-size: var(--main-font-size);
  color: var(--slate-color);
  background: var(--white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title {
  text-align: center;
  color: var(--navy-blue-color);
  font-size: var(--h2-font-size);
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
